<div class="container">
    
<meta charset="UTF-8">   

<div class="up_group"><button class="mic" type="submit" onclick =" recstart()">
 
          <i class="fa fa-microphone fa-3x"><a id="rscap">音声入力開始　  </a></i>
          
</button>

<button id="stcap" onclick="recstop()">音声入力停止</button></div><a id="recap">現在音声入力停止中</a></i></div>

<div><%= form_tag(url_for(:action => 'index'), :remote => true) do %>

  <div><%= text_area_tag :transval, nil, placeholder: "", id:"result_text", size: "60x10" %></div>
  <div><label class="translabel" ></label>
  <button id="tbtn" onclick="trans()">翻訳</button>
  
<div><textarea id="txtTarget" rows="10" cols="60" ></textarea></div>

<% end %></div>



