<div class="container">
    
<meta charset="UTF-8">   

<div class="up_group"><button class="mic" type="submit" onclick =" recstart()">
 
          <i class="fa fa-microphone fa-3x"><a id="rscap">音声入力開始　  </a></i>
          
</button>




