<div class="container">
    
<meta charset="UTF-8">   

<div class="up_group"><button class="mic" type="submit" onclick =" recstart()">
 
          <i class="fa fa-microphone fa-3x"><a id="rscap">音声入力開始　  </a></i>
          
</button>

<button id="stcap" onclick="recstop()">音声入力停止</button></div><a id="recap">現在音声入力停止中</a></i></div>

<div><%= form_tag(url_for(:action => 'index'), :remote => true) do %>

  <div><%= text_area_tag :transval, nil, placeholder: "", id:"result_text", size: "60x10" %></div>
  <div><label class="translabel" ></label>
  <button id="tbtn" onclick="trans()">翻訳</button>
  
<div><textarea id="txtTarget" rows="10" cols="60" ></textarea></div>

<% end %></div>

<button class="mic1" type="submit" onclick ="speak()">
    
      <i class="fa fa-volume-up fa-3x"><a class="rcap">もう一度しゃべる</a></i>
      
</button>

<button id="tclear" onclick="txtclear()">テキストクリア</button>
<!--<a href="/home/ctg">登録ページへ</a>-->


  
 <button id= "tlink">登録ページへ</button><br>
 
 <button id= "blink">登録された文章ページへ</button>
 
 

<script>


</script>

 <!-- 
class一覧
up_group



音声一覧
 0   Google US English en-US 
 1   Google UK English Male en-GB 
 2   Google UK English Female en-GB 
 3   Google Español es-ES 
 4   Google Français fr-FR 
 5   Google Italiano it-IT 
 6   Google Deutsch de-DE 
 7   Google 日本人 ja-JP 
 8   Google 한국의 ko-KR 
 9   Google 中国的 zh-CN 
 10  Alex en-US 
 11  Agnes en-US 
 12  Albert en-US 
 13  Bad News en-US 
 14  Bahh en-US 
 15  Bells en-US 
 16  Boing en-US 
 17  Bruce en-US 
 18  Bubbles en-US 
 19  Cellos en-US 
 20  Deranged en-US 
 21  Fred en-US
 22  Good News en-US 
 23  Hysterical en-US 
 24  Junior en-US 
 25  Kathy en-US 
 26  Pipe Organ en-US 
 27  Princess en-US 
 28  Ralph en-US 
 29  Trinoids en-US 
 30  Vicki en-US 
 31  Victoria en-US 
 32  Whisper en-US 
 33  Zarvox en-US  -->      

