<div class=".container"></div>

<div class="row"></div>
<div class="col-md-6"></div>

<div class="audio_flame">
    
<div>

  <span onclick="ren()"><i class="fa fa-play-circle fa-4x"></i>play</span >
 <span onclick="rand()"><i class="fa fa-random fa-4x" ></i>random</span>
   <span  onclick="pause_resume()"><i class="fa fa-pause-circle fa-4x" ></i><a id="atxt">pause</a></span>
  <span  onclick="cancelAudio()"><i class="fa fa-stop-circle fa-4x" ></i>cancel</span>
</div> 


<!--ボリューム (スピードスライダ)ー-->
<div id="vss">  

  <div><span>volume</span><input type="range"  id="volume" min="0" max="100" class="custom" ><span id="value" class="vs" >50</span></div>
  



 <a id="play_this"></a>
 
</div>
