// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media screen and (min-width: 768px) {
   /* 表示領域が800px以上の場合に適用するスタイル
   
   div.container { width: 760px; } */
  
    button.mic { width:340px; height:60px; border-radius: 12px; border-color:green;  background: none;}
   button.mic1 { width:340px; height:60px; border-radius: 12px; border-color:pink; background: none;}
          #rscap {
        font-size: 0.7em;  
      /*margin-left: 10px;*/
         }
    
        #rscape {
            font-size: 0.7em;  
          /*margin-left: 10px;*/
          }
            div.up_group {
           font-size: 0.9em;   
          display: inline-block;  
            /* インラインブロック要素にする */
         border-style: none;
        
        
          }

            #result_text {
            
            /* resize: none;*/
              width:700px;
              height:300px;
                
                font-size: 20px; 
               margin-top: 10px; 
               border-color:green;
              border-radius: 12px;  
              
            }
            
            #txtTarget {
                
            /* resize: none;*/
              width:700px;
              height:300px;
                
                font-size: 20px; 
               margin-top: 10px; 
               border-color:green;
             border-radius: 12px;  
            }

}

@media screen and (max-width:  768px) {
   /* 表示領域が800px未満の場合に適用するスタイル
    
   div.container { width:370px; 
        
   } */
   
   button.mic { width:160px; height:50px; border-radius: 12px; border-color:green;  background: none;}
   button.mic1 { width:160px; height:50px; border-radius: 12px; border-color:pink; background: none;}
 .rcap {
        font-size: 0.5em;  
      /*margin-left: 10px;*/
         }
    
       #rscap {
        font-size: 0.3em;  
      /*margin-left: 10px;*/
         }
    
        #rscape {
            font-size: 0.3em;  
          /*margin-left: 10px;*/
          }
          
    div.up_group {
           font-size: 0.9em;   
          display: inline-block;  
            /* インラインブロック要素にする */
            text-align:  center;   
         border-style: none;
        
          }
          
         #result_text {
            
            /* resize: none;*/
              width:330px;
              height:100px;
                
                font-size: 20px; 
               margin-top: 10px; 
               border-color:green;
              border-radius: 12px;  
              
            }
            
            #txtTarget {
                
            /* resize: none;*/
              width:330px;
              height:100px;
                
                font-size: 20px; 
               margin-top: 10px; 
               border-color:green;
             border-radius: 12px;  
            }


}
button,
button::after {
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
}



.radio_g {
    
    margin-top : 10px ; 
    margin-left : 0px ; 
    color: black;
    border-radius: 7px;  
         /* margin: 20px 10px; 外側の余白 */
         /*padding: 5px;  内側の余白 */
    background-color: #ffffff; /* 背景色 */
    width: 260px;
    
   /*  vertical-align: middle; 「vertical-align」を指定してもテキストは縦方向中央揃いにならない */
    text-align: left;
   
    line-height: 35px;
    
     border-radius:7px;
    border-right:none;
    border:solid 3px #eaeaea;
    outline: 0;
    font-size: 1.8em; 
 
}
span.selectcap {

  
   color: white;
    
}

/* #select_gengo {
    margin-left : 2px ; 
    width: 100px;
    cursor: pointer;
    background-color: #EEEEEE;
    box-shadow: 0 2px 0 gray;
    border-radius: 7px;
 }*/

#select_gengo{
    
   
    margin-left : 2px ; 
    width: 100px;
    
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    line-height: 35px;
    outline: none;
    background: white;
   
    background-image: none;
      color: black;
 
  
   border-radius: 12px;  
    border-right:none;
    border:solid 3px #eaeaea;
    outline: 0;
    font-size: 0.8em; 
  
}

#select_jp{
    margin-top : 10px ; 
    margin-left : 5px ; 
    width: 140px;
    
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
   line-height: 35px;
    outline: none;
     background: white;
    background-image: none;
     color: black;
 
   
 border-radius: 12px;  
    border-right:none;
    border:solid 3px #eaeaea;
    outline: 0;
    font-size: 1.4em; 
    border-color: #006600;
}

.lout {
    
    font-size: 1em; 
    margin-left : 20px; 
}

#source {
     width:30px;
  height:20px;
  
  visibility:hidden;
}

#target {
   width:30px;
  height:20px; 
  
  visibility:hidden;
}
#tbtn {
    visibility:hidden;
}

#tbtnj {
    visibility:hidden;
}

#txtfn {
    
 visibility:hidden; 
}

#aimbtn {
    visibility:hidden;
}

#aitbtn {
  visibility:hidden;
}

#dtcnt {
    visibility:hidden;
    
}
.translabel {
   
   color: blue;   
   border-radius: 20px;  
   
}


/*マイクの囲み 
.up_group {
  font-size: 0.9em;   
 display: inline-block;  
   /*   インラインブロック要素にする 
 border-style: none;
 margin-top: -150px;
}*/




#recap {
    
  font-size: 0.8em;  
 margin-left: 10px;
  margin-top: 10px;
  
}

#gchcap {
    
  font-size: 0.8em;  
 /* margin-left: 10px;*/
  
}



.rcap:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}





.my-gray {color: gray}



/* #stcap {
    width:80px;
    margin-left: 0px;
    
    /* 文字サイズを1指定 
    font-size: 1em;

    /* 文字の太さをboldに指定 
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 
    padding: 5px 5px;

    /* 文字色を白色に指定 
    color: #fff;

    /* ボーダーをなくす 
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 
     box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 
    text-shadow: 1px 1px 2px #000;

    /* グラデーションの指定 
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

    /* 角丸の指定 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;  
    
    
}*/
#tclear {
    
    margin-top: 30px;
    width:240px;
    margin-left: 0px;
    
    /* 文字サイズを1指定 */
    font-size: 1em;

    /* 文字の太さをboldに指定 */
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 5px 5px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
     box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;

    /* グラデーションの指定 */
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;  
    color: white;   
}

#tlink {
   margin-top: 30px;
    width:240px;
    margin-left: 0px;
    
    /* 文字サイズを1指定 */
    font-size: 1em;

    /* 文字の太さをboldに指定 */
    font-weight: bold;

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 5px 5px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
     box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;

    /* グラデーションの指定 */
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;  
    color: white;   
}

button.button8:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}



