// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio_g {
    
    margin-top : 10px ; 
    margin-left : 0px ; 
    color: black;
    border-radius: 7px;  
            /* margin: 20px 10px; 外側の余白 */
         /*padding: 5px;  内側の余白 */
    background-color: #ffffff; /* 背景色 */
    width: 260px;
    
   /*  vertical-align: middle; 「vertical-align」を指定してもテキストは縦方向中央揃いにならない */
    text-align: left;
   
    line-height: 35px;
    
     border-radius:7px;
    border-right:none;
    border:solid 3px #eaeaea;
    outline: 0;
    font-size: 1.8em; 
 
}
span.selectcap {

   margin-left : 10px;
   color: white;
    
}

#select_gengo{
    margin-top : 10px ; 
    margin-left : 0px ; 
    width: 140px;
    
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
   line-height: 35px;
    outline: none;
    background: #5F9EA0;
    background-image: none;
     color: white;
 
  
  border-radius:7px;
    border-right:none;
    border:solid 3px #eaeaea;
    outline: 0;
    font-size: 1.4em; 
  
}

#select_jp{
    margin-top : 10px ; 
    margin-left : 0px ; 
    width: 140px;
    
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
   line-height: 35px;
    outline: none;
    background: #5F9EA0;
    background-image: none;
     color: white;
 
  
  border-radius:7px;
    border-right:none;
    border:solid 3px #eaeaea;
    outline: 0;
    font-size: 1.4em; 
    
}
#tbtn {
    visibility:hidden;
}

#tbtnj {
    visibility:hidden;
}

#txtfn {
    
    visibility:hidden; 
}

#aimbtn {
    visibility:hidden;
}

#aibtn {
    visibility:hidden;
}

.translabel {
   
   color: blue;   
    border-radius: 20px;  
}


/*マイクの囲み */
.up_group {
  font-size: 0.9em;   
 display: inline-block;  
   /*   インラインブロック要素にする */
 border-style: none;
 margin-top: -150px;
}


#rscap {
  
  font-size: 0.3em;  
  /*margin-left: 10px;*/
 
}


#rscape {
  
  font-size: 0.3em;  
  /*margin-left: 10px;*/
  
}

#recap {
    
  font-size: 0.8em;  
 margin-left: 10px;
  margin-top: 10px;
  
}

#gchcap {
    
  font-size: 0.8em;  
 /* margin-left: 10px;*/
  
}

.rcap {
    
  font-size: 0.3em;  
 /* margin-left: 10px;*/
  
}

.mic {
    
    margin-bottom: 0px;
    /*margin-left: 8px;*/
   /* margin-right: 10px;*/
    background-color:white;
    border-radius: 12px;  
     /* ボーダーをなくす 
    border-style: none;*/
    
}

.mic1 {
    
    margin-bottom: 0px;
    /*margin-left: 8px;*/
   /* margin-right: 10px;*/
    background-color:white;
    border-radius: 12px;  
     /* ボーダーをなくす 
    border-style: none;*/
    
}

.jumbotron {
  
  resize: none;
  width:677px;
  height:800px;  
    
    
}

#result_text {

 resize: none;
  width:600px;
  height:200px;
    
    font-size: 30px; 
   margin-top: 10px; 
   border-color:green;
  
}

#txtTarget {
    
 resize: none;
  width:600px;
  height:200px;
    
    font-size: 30px; 
   margin-top: 10px; 
   border-color:green;
 
}


#stcap {
    width:80px;
    margin-left: 0px;
    
    /* 文字サイズを1指定 */
    font-size: 1em;

    /* 文字の太さをboldに指定 
    font-weight: bold;*/

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 5px 5px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
     box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;

    /* グラデーションの指定 */
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;  
    
    
}

#tclear {
    margin-top: -50px;
    margin-left: 1px;
    
    /* 文字サイズを1指定 */
    font-size: 0.8em;

    /* 文字の太さをboldに指定 
    font-weight: bold;*/

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 5px 15px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;

    /* グラデーションの指定 */
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#tlink {
    margin-top: -50px;
    margin-left: 1px;
    
    /* 文字サイズを1指定 */
    font-size: 0.8em;

    /* 文字の太さをboldに指定 
    font-weight: bold;*/

    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 5px 15px;

    /* 文字色を白色に指定 */
    color: #fff;

    /* ボーダーをなくす */
    border-style: none;

    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;

    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;

    /* グラデーションの指定 */
    background: -moz-linear-gradient(bottom, #36d, #248 50%, #36d);
    background: -webkit-gradient(linear, left bottom, left top, from(#36d), color-stop(0.5, #248), to(#36d));

    /* 角丸の指定 */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button.button8:hover {
    /* 透明度を20%に指定 */
    opacity: 0.8;
}



