<p><%= @resource.email %>さん!</p>

<p>パスワードの変更を下のリンクから行ってください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりのない方は無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを設定するまで、パスワードは変更されません。</p>
