
    <!-- 固定ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      
    <a class="navbar-brand">
		  
	<span ><i class="fa fa-rebel" style="color: white">　自動翻訳システム</i></span>

　<span class="radio_group">　日本語音声選択
 
    <input class="ipt" type="radio" name="sp" value=0 checked>AITalk_ruby
    <!--<input class="ipt" type="radio" name="sp" value=1 >AITalk_js-->
    <input class="ipt" type="radio" name="sp" value=2 >google
    <%= current_user.name %><%= link_to "ログアウト", destroy_user_session_path, method: "delete" , :style=>"color:white;" %>
    
 </span>
 
</a>

		
	  <p class="navbar-text navbar-right">
          <!--<a class="toplink" href="/dynamic_pages/home">トップページへ</a>-->
          
          </p>
    
	</nav>
