
    <!-- 固定ナビゲーションバー -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      
    <a class="navbar-brand">
		  
				<span ><i class="fa fa-rebel" style="color: white">　自動翻訳システム</i></span>
				
	<!--	<form method="get" action="/home/ibmttsj">
			   
              <input id="result_text2" type="text" placeholder="検索キーワードを入力" name="fstr" /> 
              <input id="result_btn" type="submit" value="IBM" />
              
        </form>-->
				
		</a>
		
		<a><%= current_user.name %></a><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
		
		
		<!--<ul>
        
         <p class="navbar-text navbar-right">
          <a class="toplink" href="/dynamic_pages/home">トップページへ</a>
          <a><%= current_user.name %></a><%= link_to "ログアウト", destroy_user_session_path, method: "delete" %>
          </p>-->
      
     </ul>
	</nav>
