
<header class="mb-0">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <!-- ホームへ戻るリンク。ブランドロゴなどを置く。 -->
            
            <span class="navbar-brand">即時通訳！  対話言語
             
             
			<select id="select_gengo" name="sg">
			  
              <option value="en,en-US">英語</option>
              <option value="zh-cn,zh-CN">中国語</option>
              <option value="ko,ko-KR">韓国語</option>
              <option value="de,de-DE">ドイツ語</option>
              <option value="fr,fr-FR">フランス語</option>
    　　　　      <option value="th,th-TH">タイ語</option>
              <option value="vi,vi-VN">ベトナム語</option>
         
             </select>
            <!--横幅が狭い時に出るハンバーガーボタン -->
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-bar">
                <span class="navbar-toggler-icon">
            </button>
            
             </span>
            
            <!-- メニュー項目 -->
            <div class="collapse navbar-collapse justify-content-end" id="nav-bar">
               
               <ul class="navbar-nav">
                    <li class="navbar-brand"><%= current_user.name %><%= link_to "ログアウト", destroy_user_session_path, method: "delete" , class: 'nav-link' %></li>
                      
                   <!--<li class="nav-item"><a href="#" class="nav-link">お問い合わせ</a></li>-->
               </ul>
            </div>
           
        </nav>
 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</header>